:root {
    --play: #0070d1;
    --btn_blue: #2d64e6;
    --btn_red: #cd3d0f;
    --btn_dark: #212529;
}

h1 {
    font-size: 2.6rem;
    font-weight: 400;
}

h2 {
    font-size: 2.4rem;
    font-weight: 400;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

h4 {
    font-size: 1.6rem;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
}

.hero {
    background-position: top;   
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

/* BOTTONI *//* BOTTONI *//* BOTTONI *//* BOTTONI *//* BOTTONI */
.btn_white {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-width: 2px;
}

.btn_white:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.btn_cel {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-width: 2px;
}

.btn_cel:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    box-shadow: inset 0px 0px 0px 2px rgb(59, 144, 255);
}

/* BOTTONE ROSSO *//* BOTTONE ROSSO *//* BOTTONE ROSSO */
.btn-danger {
    border-width: 2px;
    background-color: var(--btn_red);
}

.btn-danger:hover {
    box-shadow: inset 0px 0px 0px 2px var(--btn_dark);
    background-color: var(--btn_red);
    border-color: var(--btn_red);
}

.btn-danger:active {
    background-color: var(--btn_red);
    border-color: var(--btn_red);
}

.btn-danger:focus {
    background-color: var(--btn_red);
    border-color: var(--btn_red);
}

/* BOTTONE DARK *//* BOTTONE DARK *//* BOTTONE DARK */
 .btn-dark {
    border-width: 2px;
}

.btn-dark:hover {
    box-shadow: inset 0px 0px 0px 2px #fff;
}

/* BOTTONE BLUE *//* BOTTONE BLUE *//* BOTTONE BLUE */
.btn-primary {
    background-color: var(--btn_blue);
    border-width: 2px;
}

.btn-primary:hover {
    box-shadow: inset 0px 0px 0px 2px #fff;
    background-color: var(--btn_blue);
    border-color: var(--btn_blue);
}

.btn-primary:active {
    background-color: var(--btn_blue);
    border-color: var(--btn_blue);
}

.btn-primary:focus {
    background-color: var(--btn_blue);
    border-color: var(--btn_blue);
}

/* BOTTONE TRASPARENT */
.btn_trasparent {
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--play);
    border-width: 2px;
}
.btn_trasparent:hover {
    box-shadow: inset 0px 0px 0px 2px #fff;
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--play);
}
/* BOTTONI *//* BOTTONI *//* BOTTONI *//* BOTTONI *//* BOTTONI */

/* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  */
.bg-black {
    background-color: #000;
}

#GiochiDropDown,
#HardwareDropDown,
#ServiziDropDown,
#NovitaDropDown,
#AcquistiDropDown,
#SupportoDropDown,
#PlaystationDropDown {
    font-weight: 600;
    color: rgba(0, 0, 0, .6);
}

#GiochiDropDown:hover,
#HardwareDropDown:hover,
#ServiziDropDown:hover,
#NovitaDropDown:hover,
#AcquistiDropDown:hover,
#SupportoDropDown:hover,
#PlaystationDropDown:hover {
    font-weight: 600;
    color: var(--play);
}

header .logo_small {
    height: .8rem;
}    

.nav-link svg {
    width: 14px;
    transform: rotate(0deg);
    transition: transform 1s, display 1s;
}

a.show:focus svg {
    transform: rotate(-180deg);
}

a svg path {
    fill:#999;
    transition: fill .5s, display .5s;
}

a.show:focus svg path,
a.show:hover svg path,
.nav-link:hover svg path {
    fill: #0070d1;
}

nav .lens {
    height: 1.5rem;
}

.dropdown-menu {
    margin: 0;
    top: -200px; 
    left: 0;
    right: 0;
    z-index: -1;
    transition: top 1s, opacity 1s;
    opacity: 0;
}    

.dropdown-menu[data-bs-popper] {
    opacity: 1;
    top: 100%;

}

.contenitore_img_nav {
    height: 160px;
    width: 160px; 
    transition: all .3s;
}

.contenitore_img_nav img {
    width: 100px; 
}

.dropdown-menu a {
    color: #000; 
    font-size: 1.1rem;
}

.dropdown-menu a:hover {
    color: var(--play); 
}

.contenitore_img_nav:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}

ul.list-inline .list-inline-item::before {
    content: "\F287";
    font-family: bootstrap-icons;
    color: var(--play);
    margin-right: .3rem;
    vertical-align: 4px;
    font-size: 6px;
}

.list-inline-item:last-child{
    margin-right: .5rem;
}

@media screen and (min-width:992px) {
    .dropdown-menu {
        box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 50%);
    }
}

/* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  */

/*  HERO GAME1 *//*  HERO GAME1 *//*  HERO GAME1 *//*  HERO GAME1 */
#hero_game_1 {
    background-image: url(../img/jumbo-bg.png);
    padding-top: 250px ;
}

#hero_game_1 img {
    width: 60%;
}

/*  CARD HERO GAME1 *//*  CARD HERO GAME1 *//*  CARD HERO GAME1 */
.card { 
    transition: transform .5s;
    border: 2px solid transparent;
}

.p_card {
    padding: .15rem;
}

#card_hero_game_1 .card img {
    transition: all .5s;
    box-shadow: none;
    opacity: .7;
}

#card_hero_game_1 img.active {
    opacity: 1;
}

.border_card_active {
    border: 2px solid var(--play);
}

.border_card_radius {
    border-radius: 1rem;
}

#card_hero_game_1 .card:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

#card_hero_game_1 .card:hover img {
    box-shadow: 0px 20px 14px 0px rgb(46 46 46 / 27%);
    opacity: 1;
}

/*  ARTICLE PS *//*  ARTICLE PS *//*  ARTICLE PS *//*  ARTICLE PS */
#article_ps {
    margin-top: 30px;
}

#article_ps h6.title {
    color: var(--play);
}

.section_3_card .col {
    opacity: .6;
    cursor: pointer;
    transition: opacity .4s;
}

.section_3_card span {
    font-size: 1rem;
    font-weight: 600;
}

.section_3_card .active {
    opacity: 1;
}

.section_3_card .col:hover {
    opacity: 1;
}

.section_3_card .btn {
    box-shadow: none;
}

.section_3_card .col hr {
    border: 1px solid var(--play);
    background: var(--play);
    opacity: 1;
}

.section_3_card .col hr.disable {
    border: 1px solid #fff;
    background: transparent;
}

.section_3_card .col:hover hr.disable {
    border: 1px solid var(--play);
    background: var(--play);
}

.carousel-fade .active.carousel-item-end,
.carousel-fade .active.carousel-item-start {
    transition: opacity .5s .2s
}

@media screen and (min-width: 768px) {
    .carousel-inner {
        width: 50%;
    }
}

/*  HERO GAME2 *//*  HERO GAME2 *//*  HERO GAME2 */
#hero_game_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding-top: 110px;
}

#hero_game_2 img {
    width: 60%;
}

/*  CARD GAME2 *//*  CARD GAME2 *//*  CARD GAME2 */
#card_game_2 {
    background-color: #1f1f1f;
}

#card_game_2 img {
    border-radius: 8px;   
} 

#card_game_2 .col {
    cursor: pointer;
    transform: scale(1);
    transition: all .3s;
}

#card_game_2 .col:hover {
    filter: blur(.5px);
}

@media screen and (min-width: 576px) {
    #card_game_2 .col:hover {
        transform: scale(1.05);
    }
}

/*  ARTICLE PS 2 *//*  ARTICLE PS 2 *//*  ARTICLE PS 2 */
#article_ps_2 h2 span {
    vertical-align: 8px;
    font-size: 1.3rem;
}

#article_ps_2 .col img {
    cursor: pointer;
}

/*  PS PLUS *//*  PS PLUS *//*  PS PLUS *//*  PS PLUS */
#ps_plus {
    background-color: #bebcbb;
}

.plus_logo {
    width: 60%;
}

/*  SCONTI *//*  SCONTI *//*  SCONTI *//*  SCONTI */
#sconti .col img {
    transition: all .3s;
    border-radius: 8px; 
}

#sconti .col img:hover{
    filter: blur(.5px);
    cursor: pointer;
    box-shadow: 0 0 13px 3px rgb(0 0 0 / 40%);
}

@media screen and (min-width: 576px) {
    #sconti .col img:hover{
        transform: scale(1.05);
    }
}

/*  PS NOW *//*  PS NOW *//*  PS NOW *//*  PS NOW */
#ps_now {
    background-color: #161c3b;
}

.plus_logo {
    width: 60%;
}

/*   SOCIAL *//*   SOCIAL *//*   SOCIAL *//*   SOCIAL */
#social .row {
    max-width: 550px;
}

#social img {
    border-radius: 8px; 
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s;
}

#social img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 13px 3px rgb(0 0 0 / 40%);
}

/*  SECTION FOOTER *//*  SECTION FOOTER *//*  SECTION FOOTER *//*  SECTION FOOTER */
footer {
    background-color: #00439c;
    font-size: .8rem;
}

footer img.lenguage {
    width: 18px;
}

footer img.sie {
    width: 130px;
}

footer li a {
    text-decoration: none;
}

footer li a:hover {
    color: white;
    text-decoration: underline;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer p {
    font-size: .8rem;
}




/* PAGINA PS NOW *//* PAGINA PS NOW *//* PAGINA PS NOW *//* PAGINA PS NOW */
/* NAV PLUS *//* NAV PLUS *//* NAV PLUS *//* NAV PLUS */
#nav-now  {
    top: 76px;
    font-weight: 500;
    z-index: 0;
}

#nav-now li a {
    display: inline-block;
    color: #000;
}

#nav-now li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#nav-now li.active {
    background-color: rgba(0, 0, 0, 0.15);
}

/* HERO PLUS1 *//* HERO PLUS1 *//* HERO PLUS1 *//* HERO PLUS1 */
#hero_now_1 {
    background: linear-gradient(to bottom right, #081331, #2d3870);
}

#hero_now_1 p,
#on_demand p,
#new_game p {
    font-size: 1rem;
}

p.opac {
    color: rgba(255, 255, 255, .6);
    max-width: 720px;
}

/* ON DEMAND  */  /* ON DEMAND  */  /* ON DEMAND  */
#on_demand {
    padding-top: 50px;
    background: linear-gradient(#01081b, #243e81, #01081b);
}


/* NEW GAME  */  /* NEW GAME  */  /* NEW GAME  */
#new_game {
  padding-top: 50px;
  background: linear-gradient(#01081b, #243e81, #01081b);
}

/* ABBONAMENTI  */  /* ABBONAMENTI  */  /* ABBONAMENTI  */
#abbonamenti {
    background-image: url(../img/now/ps-now-join-section-background-desktop-tablet-01-ps4-en-02dec19.jfif);
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
}

#abbonamenti h2 {
    color: var(--play);
}

p.opac_black {
    color: rgba(0  , 0, 0, .6);
}

p.width {
    max-width: 720px;
}

.btn_acquista {
    max-width: 360px;
}

.btn_cel:hover .bi-suit-heart {
    color: var(--play);
}

.celeste {
    color: var(--play);
}

.testo_now_pre-footer {
    font-size: .8rem;
    line-height: 1.5rem;
}