/* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  */
.bg-black {
    background-color: #000;
}

header .logo_small {
    height: .8rem;
}    


nav .lens {
    height: 1.5rem;
}
