:root {
    --play: #0070d1;
    --btn_blue: #2d64e6;
    --btn_red: #cd3d0f;
}

h1 {
    font-size: 2.6rem;
    font-weight: 400;
}

h2 {
    font-size: 2.4rem;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
}

/* BOTTONI *//* BOTTONI *//* BOTTONI *//* BOTTONI *//* BOTTONI */
.btn_hover {
    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 97%;
    transition: border .2s;
}

.btn_hov:hover .btn_hover {
    border: 2px solid #f8f9fa;
}

.btn_blue {
    background-color: var(--btn_blue);
    color: #fff;
}

.btn_blue:hover {
    background-color: #1950cf;
    color: #fff;
}

.btn_trasparent {
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--play);
}

.btn_trasparent:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--play);
}

.btn_white {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.btn_white:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.btn_red {
    background-color: var(--btn_red);
    color: #fff;
}

.btn_red:hover {
    background-color: var(--btn_red);
}

.btn_red:active {
    background-color: var(--btn_red);
}
/* BOTTONI *//* BOTTONI *//* BOTTONI *//* BOTTONI *//* BOTTONI */

/* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  */
.bg-black {
    background-color: #000;
}

header .logo_small {
    height: .8rem;
}    


li a .img-chevron{
    display: inline-block;
    height: .8em;
    padding-left: .2em;
}

.nav-link img.img-chevron:last-child {
    display: none;
    transform: rotate(0deg);
    transition: transform 1s, display 1s;
}

.nav-link:hover img.img-chevron:first-child {
    display: none;
}

.nav-link:hover img.img-chevron:last-child {
    display: inline !important;
}

.nav-link:focus img.img-chevron:last-child{
    display: inline !important;
    transform: rotate(-180deg);
} 

.nav-link:focus img.img-chevron{
    display: none;
}

nav .color_link:hover,
nav .color_link:focus {
    color: var(--play);
}

nav .lens {
    height: 1.5rem;
}

.contenitore_img_nav {
    height: 160px;
    width: 160px; 
    transition: all .3s;
}

.contenitore_img_nav img {
    width: 100px; 
}

.dropdown-menu a {
    color: #000; 
    font-size: 1.1rem;
}

.dropdown-menu a:hover {
    color: var(--play); 
}

.contenitore_img_nav:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}

ul.list-inline .list-inline-item::before {
    content: "\F287";
    font-family: bootstrap-icons;
    color: var(--play);
    margin-right: .3rem;
    vertical-align: 4px;
    font-size: 6px;
}

.list-inline-item:last-child{
    margin-right: .5rem;
}


@media screen and (min-width:992px) {

    /* DROPDOWN-MENU  *//* DROPDOWN-MENU  *//* DROPDOWN-MENU  */
    .dropdown-menu {
        display: block;
        position: absolute;
        left: 0;
        top: -200px;
        right: 0;
        z-index: -1;
        transition: all 1s;
        opacity: 0;
        padding: .5rem 0;
        font-size: 1rem;
        list-style: none;
        background-clip: padding-box;
        border: 0;
        border-radius: 0;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
        box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 50%);
    }
    
    .dropdown-menu[data-bs-popper] {
        top: 75px;
        margin: 0;
        opacity: 1;
        z-index: -1;
    } 


    /* DROPDOWN-MENU  *//* DROPDOWN-MENU  *//* DROPDOWN-MENU  */
}

/* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  */

/*  SECTION 1 *//*  SECTION 1 *//*  SECTION 1 *//*  SECTION 1 */
.hero_1 {
    background-image: url(../img/jumbo-bg.png);
    background-position: top;   
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 116px;
    padding-top: 250px ;
    padding-bottom: 50px;
}

.hero_1 img {
    width: 60%;
}

/*  SECTION 2 *//*  SECTION 2 *//*  SECTION 2 *//*  SECTION 2 */
.card { 
    transition: transform .5s;
    border: 2px solid transparent;
}

.p_card {
    padding: .15rem;
}

.section_2 .card img {
    transition: all .5s;
    box-shadow: none;
}

.border_card_active {
    border: 2px solid var(--play);
}

.border_card_radius {
    border-radius: 1rem;
}

.section_2 .card:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

.section_2 .card:hover img {
    box-shadow: 0px 20px 14px 0px rgb(46 46 46 / 27%);
}

/*  SECTION 3 *//*  SECTION 3 *//*  SECTION 3 *//*  SECTION 3 */
.section_3 {
    margin-top: 30px;
}

.section_3 h6.title {
color: var(--play);
}

.section_3_card .col {
    opacity: .6;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.section_3_card .active {
    opacity: 1;
}

.section_3_card .col:hover {
    opacity: 1;
}

.section_3 .col hr {
    border: 1px solid var(--play);
    background: var(--play);
    opacity: 1;
}

.section_3 .col hr.disable {
    border: 1px solid #fff;
    background: transparent;
}

.section_3_card .col:hover hr.disable {
    border: 1px solid var(--play);
    background: var(--play);
}

/*  SECTION 4 *//*  SECTION 4 *//*  SECTION 4 *//*  SECTION 4 */
.hero_4 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 110px;
    padding-bottom: 50px;
}

.hero_4 img {
    width: 60%;
}

/*  SECTION 5 *//*  SECTION 5 *//*  SECTION 5 *//*  SECTION 5 */
.section_5 {
    background-color: #1f1f1f;
}

.section_5 img {
    border-radius: 8px;
} 

/*  SECTION 6 *//*  SECTION 6 *//*  SECTION 6 *//*  SECTION 6 */
.section_6 h2 span {
    vertical-align: 8px;
    font-size: 1.3rem;
}
